.container {
    width: 1840px;
    height: 78px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 180px;
    padding: 10px 10px 10px 10px;

    border-radius: 50px;
    background-color: #cb81ff;

    font-size: 35px;
}
.group {
    display: flex;
    justify-content: center;
    align-items: center;
}
.active {
    color: gray;
}
