.button {
    height: 80px;
    width: 231px;
    border-radius: 25px;

    font-family: "Roboto";
    font-size: 30px;
    border: none;
    background-color: #ff5f00;

    color: white;
    font-family: "Roboto";

    font-size: 38px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border: #201b10;
}
